@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&display=swap');
.name h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    color: red;
}
.bar {
    font-size: 50px;
}
#hero-img img {
    width: 100%;
    height: 900px;
    margin-top: 50px;
}
.text {
    font-size: 50px;
    position: absolute;
    text-align: center;
}
#meter {
    background-color: blue;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hero {
    display: flex;
    justify-content: center;
    align-items: center;
}
.dashboard {
    display: flex;
    justify-content: center;
    align-items: center;
}
.mask {
    background-image: url(images/Mask-Groups.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}
.buildings {
    gap: 0px;
    position: relative;
    margin-bottom: 40px;
    margin-left: 100px;

}
.drop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.singlecontainer{
    display: flex;
    width: 100%;
    height: 500px;
    text-align: center;
    justify-content: center;
}
#stories {
    background-color: #F0EEEE;
    width: 100%;
    height: 500px;
}
#form {
    background-color: rgb(213, 226, 232);
    padding: 50px;
}
.carasol {
    width: 441px;
    height: 240px;
}